html{
	background-color: #202020;
	color:white;
	font-family:Helvetica;
}
.buttons{
  color:white;
  position: relative;
  display: inline-block;
  height: 0;
  border-radius: 50%;
  background: #38a9e4;
  font-family: Helvetica, Arial Black, sans;
  font-size: 80px;
  text-align: center;
}
.buttons-direction{
	top:80px;
	  width: 50%;
  padding: 25% 0;
  font-size: 200px;
  margin-left:25%;
    line-height:5px;
    margin-top:40px;
  
}
.buttons-abs{
	  width: 25%;
  padding: 12.5% 0;
  margin-left: 10%;
  margin-top:0px;
  line-height:5px;
}
.buttons-switch{
	position: relative;
	float:right;
	display:inline-block;
	width: 33%;
	padding-top:5%;
  padding: 7%;
   border-radius: 7%;
   margin:0px;
   float:right;
  	text-align: center;
  	height:5%;


}
.buttons-color{
	width:20%;
	padding:10% 0;
	margin:5%;
	line-height:1px;

	}
#indicator{
	float:right;
	width:33%;
	display:inline-block;
	padding:7%;
	background-color:#a1a1a1;
	color:#38a9e4;
	font-size:130px;
	 border-radius: 5%;
	 margin:0px;
	 text-align: center;
}

#remote{
	background:#c9c9c9;
	border-radius: 15%;
	width:90%;
	margin:auto;
}
.buttons-bright{

	display:inline-block;
	width: 20%;
	padding: 33px;
    padding-top: 73px;
    padding-bottom: 73px;
	color:#38a9e4;;
   border-radius: 7%;
   margin:0px;
  	text-align: center;
  	height:5%;
  	}
@media only screen and (min-width: 1100px) {
	.buttons{
 font-size: 50px;
  width: 20%;
  padding: 10% 0;

	}
#indicator{
	padding:5%;
	font-size:100px;
}
.buttons-direction{
margin:0px;
margin-left:5%;
font-size:200px;
  
}
.buttons-abs{
margin:0px;
margin-left:5%;
}
.buttons-switch{
		padding:5%;
	font-size:75px;
	width:33%;

padding-bottom:5%;
}		
#remote{
	background:#c9c9c9;
	border-radius: 15%;
	width:40%;
	margin:0px;
}
.buttons-bright{
	margin-top:10px;
	    padding-top: 100px;
    padding-bottom: 100px;
    width:20%;
    height:20%;

	
}
